<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="flex flex-col justify-center items-center h-screen w-full">
    <h1 class="font-bold text-2xl text-center py-3">User Profile</h1>
    <div class="w-2/12 h-fit flex flex-col p-4 bg-neutral-200 rounded-xl">
        <span class="pl-2 text-teal-800 text-sm">User ID</span>
        <div class="rounded-md bg-neutral-100 font-medium px-4 py-2">
            <%= id %>
        </div>
        <span class="pl-2 pt-4 pb-1 text-teal-800 text-sm">Name</span>
        <div class="rounded-md bg-neutral-100 font-medium px-4 py-2">
            <%= name %>
        </div>
        <span class="pl-2 pt-4 pb-1 text-teal-800 text-sm">Email address</span>
        <div class="rounded-md bg-neutral-100 font-medium px-4 py-2">
            <%= email %>
        </div>
        <hr class="border border-neutral-300 w-full mt-4">
        <form method="get" action="/logout" class="pt-4">
            <button type="submit" class="w-full rounded-md bg-red-400 text-white px-4 py-2 cursor-pointer">
                Log out
            </button>
        </form>
    </div>
</body>

</html>